<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="testEntity" class="springcore.TestEntity">
        <property name="msg" value="Hello Wy"></property>
    </bean>
    <bean id="testEntity1" class="springcore.TestEntity">
        <property name="msg" value="Hello Wy1"></property>
    </bean>
    <bean id="testEntity2" class="springcore.TestEntity">
        <property name="msg" value="Hello Wy2"></property>
    </bean>
    <bean id="examplebean"
          class="springcore.TestEntity" init-method="init" destroy-method="destroy"/>
</beans>